body {
    background-color: rgb(30, 92, 58);
}

#main-header {
    text-align: center;
    align-content: center;
    color: white;
}

#name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name-entry {
    margin: 0.5em;
}

#name-label {
    font-size: large;
    color: white;
    display: block;
}

#warning-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#warning {
    color: red;
    font-size: x-large;
}

#start-button-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

#start-button {
    margin-top: 1em;
    padding: 0;
    border: none;
    background: none;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

#start-button img {
    width: 8vw;
    height: auto;
    display: block;
}

#start-button img:hover {
    border: 1px solid white;
}

#display-hand {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    gap: 0.5em;
}

#flop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    padding: 1em;
    gap: 0.5em;
}

.card-img {
    width: 5vw;
}

.card-img:hover {
    transform: scale(2) translateY(-3vh);
    z-index: 10;
}

#dealer {
    width: 5vw;
}

#deal-deck {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    gap: 0.5em;
}

#betting-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    right: 0;
    padding: 1em;
    background-color: #333;
    color: white;
    gap: 0.5em;
}

#betting-panel button {
    margin: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
}

#bet-amount {
    width: 100px;
    margin-left: 0.5em;
}

.hidden {
    display: none !important;
}